@model ResetPasswordVM
<div class="row">
    <div class="col-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User ResetPassword</h4>
                <div asp-validation-summary="ModelOnly" style="color:red"></div>
                <form method="post" class="forms-sample">
                    
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input asp-for="RepeatPassword" class="form-control">
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    </div>


                    <button type="submit" class="btn btn-secondary mr-2">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}