@model UpdateVM
<div class="row">
    <div class="col-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Update</h4>
                <div asp-validation-summary="ModelOnly" style="color:red"></div>
                <form method="post" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname"></label>
                        <input asp-for="Surname" class="form-control">
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Select role</label>
                        <select class="form-control" name="role">
                            @foreach (string role in ViewBag.Roles)
                            {
                                if (Model.Role == role)
                                {
                                    <option selected value="@role">@role</option>
                                }
                                else
                                {
                                    <option value="@role">@role</option>
                                }


                            }

                        </select>
                    </div>
                   
                    <button type="submit" class="btn btn-secondary mr-2">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}